<!DOCTYPE html>
<html>

<head>

</head>

<body style="background-color: #f8f9fa;">
    
    <div class="container text-center">
    <form action="model/handlequizz.php" method="POST" class="text-center">
        <h2>Français</h2>
        <p>Choississez parmis les 3 propositions, l'orthographe qui convient.</p>
        <div class="container question rounded">
            <h3>Q1</h3>
            <input type="radio" name="Q1" value="0" required> <span>Callebasse</span>
            <br>
            <input type="radio" name="Q1" value="1" required> <span>Calebasse</span> 
            <br>
            <input type="radio" name="Q1" value="2" required> <span>Calebase</span>
            <br>
        </div>
        <div class="container question rounded">
            <h3>Q2</h3>
            <input type="radio" name="Q2" value="0" required> <span>Immodestie</span>
            <br>
            <input type="radio" name="Q2" value="1" required> <span>Imodestie</span> 
            <br>
            <input type="radio" name="Q2" value="2" required> <span>Imodaistie</span> 
            <br>
        </div>
        <div class="container question rounded">
            <h3>Q3</h3>
            <input type="radio" name="Q3" value="0" required> <span>Machiavélique</span>
            <br>
            <input type="radio" name="Q3" value="1" required> <span>Maquiavelique</span> 
            <br>
            <input type="radio" name="Q3" value="2" required> <span>Maciavélique</span> 
            <br>
        </div>
        <div class="container question rounded">
            <h3>Q4</h3>
            <input type="radio" name="Q4" value="0" required> <span>Extralusside</span>
            <br>
            <input type="radio" name="Q4" value="1" required> <span>Extralucide</span> 
            <br>
            <input type="radio" name="Q4" value="2" required> <span>Exctralucide</span> 
            <br>
        </div>
        <div class="container question rounded">
            <h3>Q5</h3>
            <input type="radio" name="Q5" value="0" required> <span>Calligramme</span>
            <br>
            <input type="radio" name="Q5" value="1" required> <span>Qualigramme</span> 
            <br>
            <input type="radio" name="Q5" value="2" required> <span>Caligrame</span> 
            <br>
        </div>
        <div class="container question rounded">
            <h3>Q6</h3>
            <input type="radio" name="Q6" value="0" required> <span>Zénitale</span>
            <br>
            <input type="radio" name="Q6" value="1" required> <span>Zhénitale</span> 
            <br>
            <input type="radio" name="Q6" value="2" required> <span>Zénithale</span> 
            <br>
        </div>
        <div class="container question rounded">
            <h3>Q7</h3>
            <input type="radio" name="Q7" value="0" required> <span>Iolle</span>
            <br>
            <input type="radio" name="Q7" value="1" required> <span>Yolle</span> 
            <br>
            <input type="radio" name="Q7" value="2" required> <span>Yole</span> 
            <br>
        </div>
        <div class="container question rounded">
            <h3>Q8</h3>
            <input type="radio" name="Q8" value="0" required> <span>Tandantiel</span>
            <br>
            <input type="radio" name="Q8" value="1" required> <span>Tendantiel</span> 
            <br>
            <input type="radio" name="Q8" value="2" required> <span>Tendanciel</span> 
            <br>
        </div>
        <div class="container question rounded">
            <h3>Q9</h3>
            <input type="radio" name="Q9" value="0" required> <span>Réaccoutumer</span>
            <br>
            <input type="radio" name="Q9" value="1" required> <span>Reacoutumer</span> 
            <br>
            <input type="radio" name="Q9" value="2" required> <span>Reaccoutummer</span> 
            <br>
        </div>
        <div class="container question rounded">
            <h3>Q10</h3>
            <input type="radio" name="Q10" value="0" required> <span>Mozzarelle</span>
            <br>
            <input type="radio" name="Q10" value="1" required> <span>Mozarelle</span> 
            <br>
            <input type="radio" name="Q10" value="2" required> <span>Mozzarele</span> 
            <br>
        </div>
        <h2>Mathématiques</h2>
        <div class="container question rounded">
            <h3>Q11</h3>
            <p>3<var>x</var>+2 = 0</p>
            <input type="radio" name="Q11" value="0" required> <span><var>x</var> = -2/3</span>
            <br>
            <input type="radio" name="Q11" value="1" required> <span><var>x</var> = 2/3</span> 
            <br>
        </div>
        <div class="container question rounded">
            <h3>Q12</h3>
            <p>8<var>x</var>-4 = 0</p>
            <input type="radio" name="Q12" value="0" required> <span><var>x</var>=-4/8</span>
            <br>
            <input type="radio" name="Q12" value="1" required> <span><var>x</var>=1/2</span> 
            <br>
        </div>
        <div class="container question rounded">
            <h3>Q13</h3>
            <p>cos(<var>x</var>)=1</p>
            <input type="radio" name="Q13" value="0" required> <span><var>x</var>=0</span>
            <br>
            <input type="radio" name="Q13" value="1" required> <span><var>x</var>=1</span> 
            <br>
        </div>
        <div class="container question rounded">
            <h3>Q14</h3>
            <p>sin(<var>x</var>)=0</p>
            <input type="radio" name="Q14" value="0" required> <span><var>x</var>=0</span>
            <br>
            <input type="radio" name="Q14" value="1" required> <span><var>x</var>=1</span> 
            <br>
        </div>
        <div class="container question rounded">
            <h3>Q15</h3>
            <p>70<var>x</var>+4=12</p>
            <input type="radio" name="Q15" value="0" required> <span><var>x</var>=16/70</span>
            <br>
            <input type="radio" name="Q15" value="1" required> <span><var>x</var>=8/70</span> 
            <br>
        </div>
        <div class="container question rounded">
            <h3>Q16</h3>
            <p>arctan(<var>x</var>)=0</p>
            <input type="radio" name="Q16" value="0" required> <span><var>x</var>= &pi;/2</span>
            <br>
            <input type="radio" name="Q16" value="1" required> <span><var>x</var>= 0</span> 
            <br>
        </div>
        <div class="container question rounded">
            <h3>Q17</h3>
            <p>3<var>x</var>+7-12=0</p>
            <input type="radio" name="Q17" value="0" required> <span><var>x</var>=5/3</span>
            <br>
            <input type="radio" name="Q17" value="1" required> <span><var>x</var>=3/5</span> 
            <br>
        </div>
        <div class="container question rounded">
            <h3>Q18</h3>
            <p>&#8730;81 = <var>x</var></p>
            <input type="radio" name="Q18" value="0" required> <span><var>x</var>=7</span>
            <br>
            <input type="radio" name="Q18" value="1" required> <span><var>x</var>=9</span> 
            <br>
        </div>
        <div class="container question rounded">
            <h3>Q19</h3>
            <p>&#8730;289 = <var>x</var></p>
            <input type="radio" name="Q19" value="0" required> <span><var>x</var>=17</span>
            <br>
            <input type="radio" name="Q19" value="1" required> <span><var>x</var>=18</span> 
            <br>
        </div>
        <div class="container question rounded">
            <h3>Q20</h3>
            <p>&#8730;1444 = <var>x</var></p>
            <input type="radio" name="Q20" value="0" required> <span><var>x</var>=34</span>
            <br>
            <input type="radio" name="Q20" value="1" required> <span><var>x</var>=38</span> 
            <br>
        </div>
        <input type="submit" class="btn btn-gradient">
    </form>
</div>
</body>

</html>