<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <style>
             .btn-gradient{
            background-color:#1fc8db;
            background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
            color: white;
            
        }
        </style>
        <div class="container text-center">
            <h1>Vous avez déja passer les tests!</h1>
            <br>
            <br>
            <a class="btn btn-gradient" href="index.php">Retourner a l'accueil</a>
        </div>
    </body>
</html>