<!DOCTYPE html>
<html>

<head></head>

<body style="background-color: #f8f9fa;">
    <h1 class="text-center">A Propos de Nous</h1>
    <style>
        embed-responsive-21by9::before {
            padding-top: 30.357143%;
        }
    </style>
    <div class="container rounded gradientborder text-justify">
        <h2> A Propos</h2>
        <p>Nous sommes une entreprise de production video. Nous travaillons sur de grosse production hollywoodienne
            comme sur de plus petite production de type video youtube ou encore production de publicité. Nous sommes une
            société française basé a Los Angeles en californie pour etre le plus proche du monde du cinéma.</p>
        <br>
        <br>
        <div class="embed-responsive rounded embed-responsive-16by9">
            <iframe class="embed-responsive-item"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3301.9923385303955!2d-118.36601768429898!3d34.14653813058046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2be3c0af462e3%3A0xf875e1b17e5cdf9a!2sToluca%20Lake%2C%20Californie%2091602%2C%20%C3%89tats-Unis!5e0!3m2!1sfr!2sfr!4v1587036278853!5m2!1sfr!2sfr"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
        <br>
        <br>
        <h2>L'Equipe</h2>
        <p><b>Lémuel Falret</b>: Monteur et Expert en effet visuel<br>
        <b>Yanis Fatmi</b>: Directeur des Ressources Humaines<br>
        <b>Jeremy Dain</b>: Lead Developpeur<br>
        <b>Romain Wozniak</b>: Scénariste</p>
        <div class="embed-responsive rounded embed-responsive-21by9">
            <img class="embed-responsive-item" src="team.png">
        </div>
    </div>
    <br>
    <br>


</body>

</html>