<!DOCTYPE html>
<html>
    <head></head>
    <body style="background-color: #f8f9fa;">
    <h1 class="text-center">Nos Locaux</h1>
    <style>
        .picture{
            margin-top: 5%;
            margin-bottom: 5%;
        }
    </style>
    <div id="building" class="rounded">

    </div>
    <div class="container">
        <img class="rounded picture img-fluid" width="100%" height="auto" src="1.png">
        <img class="rounded picture img-fluid" width="100%" height="auto" src="2.png">
        <img class="rounded picture img-fluid" width="100%" height="auto" src="3.png">
        <img class="rounded picture img-fluid" width="100%" height="auto" src="4.png">
    </div>
    
    </div>
    
    </body>
</html>
