<!DOCTYPE html>
<html>

<head></head>

<body style="background-color: #f8f9fa;">
    <style>
        .prices{
            margin-bottom: 12%;
        }
        .btn-gradient{
            background-color:#1fc8db;
            background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
            color: white;
            
        }
    </style>
    <h1 style="text-align: center;">Nos Tarifs</h1>
    <br>
    <br>
    <br>
    <br>
    <div class="container ">
        <div class="row align-items-center prices ">
            <div class="col-sm-3 ">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="youtube.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Youtube</h5>
                        <p class="card-text">Nous proposons des forfaits pour le tournage et le montage de video youtube.</p>
                        <a href="mailto:jdain@outlook.fr" class="btn btn-gradient">Demander un Devis</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="ads.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Publicité</h5>
                        <p class="card-text">Nous proposons des forfaits pour le tournage et le montage de vos publicités.</p>
                        <a href="mailto:jdain@outlook.fr" class="btn btn-gradient">Demander un Devis</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="movie.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">tournage</h5>
                        <p class="card-text">Nous proposons des forfaits pour le tournage de film et un accés a nos locaux et nos décors.</p>
                        <a href="mailto:jdain@outlook.fr" class="btn btn-gradient">Demander un Devis</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="edit.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Montage</h5>
                        <p class="card-text">Nous proposons des équipes de montages pour monter vos videos avec du materiel professionnel.</p>
                        <a href="mailto:jdain@outlook.fr" class="btn btn-gradient">Demander un Devis</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>